*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}


html,body{
  width:100%;
  overflow-x:hidden;
}


/* MAIN BOX */

.container{

  width:100%;
  max-width:1250px;

  margin:20px auto;

  padding:15px;

  min-height:600px;

  background:white;

  border-radius:12px;

  box-shadow:0 8px 25px rgba(0,0,0,0.08);

}


/* DATE */

.datee{

 width:120px;

 padding:7px 10px;

 border:1px solid gray;

 border-radius:5px;

 font-weight:bold;

 text-align:center;

}


/* FORM */


.entrydata{

 margin-top:15px;

 margin-bottom:10px;

}

.form-row{


 display:flex;

 gap:8px;

 flex-wrap:wrap;

}


.entrydata input{


 width:150px;

 height:38px;


 font-size:16px;


 padding-left:10px;


 border-radius:5px;

 border:1px solid gray;


 background:#f8f5f5;


}


/* ADD BUTTON */

.entrydata button{


 width:90px;

 height:38px;


 background:#1b0a7b;

 color:white;


 border:none;

 border-radius:5px;


 cursor:pointer;

}

.entrydata button:hover{

 background:#0636b9;

}



/* TABLE */


table{


 width:100%;

 border-collapse:collapse;

 margin-top:10px;


 background:white;


 box-shadow:0 5px 15px rgba(0,0,0,0.09);


}


thead{


 background:#1b1660;

 color:white;

}


th,td{


 padding:10px 5px;


 text-align:center;


 font-size:14px;


 border-bottom:1px solid #eee;


 font-weight:bold;


}

tbody tr:hover{

 background:#f1f3ff;

}

tbody tr:nth-child(even){

 background:#f3eaea;

}


/* ACTION */


.editbtn{


 display:flex;

 justify-content:center;

 gap:8px;


}

.editBtn{


 background:#22c55e;

 color:white;


 border:none;

 padding:5px 12px;


 border-radius:5px;

}

.deleteBtn{


 background:#d51414;

 color:white;


 border:none;

 padding:5px 12px;


 border-radius:5px;


}


/* SUBMIT */

.btnsubmit{


 display:flex;


 justify-content:flex-end;


 margin-top:15px;


 margin-right:0;


}

.btnsubmit button{


 width:120px;

 height:40px;


 background:#1b1660;

 color:white;


 border:none;


 border-radius:5px;


}

.btnsubmit button:hover{

 background:#0636b9;

}



/* =====================
       MOBILE
===================== */


@media(max-width:768px){


.container{


 width:95%;

 margin:10px auto;

 padding:10px;

}


.form-row{


 flex-direction:column;

}


.entrydata input{


 width:100%;

}


.entrydata button{


 width:100%;

}


table{

 display:block;

 overflow-x:auto;
 white-space:nowrap;


}


th,td{


 font-size:12px;

 padding:8px;


}


.editbtn{


 flex-direction:column;

}


.btnsubmit{


 justify-content:center;

}



.btnsubmit button{


 width:100%;


}



}