.header{
   background-color: #1f1851;               
  border: none;
 border-bottom: 1.5px rgb(93, 90, 90) solid;
}

/* App.css ya Sidebar.module.css */
.container{
  color: white;
  text-align: center;
  
  
}
.container h2 {
  font-weight: 600;
  font-size: clamp(18px, 5vw, 43px);
  margin: 0;
}

/* Mobile */
