.sidebarContainer{

width:210px;
height:100vh;
background:#1f1851;
padding:15px;
transition:0.3s;

}


/* LOGO */

.logoBox{

display:flex;
align-items:center;
justify-content:center;
margin-bottom:25px;
margin-top:10px;
margin-left:-20px;

}


.logoBox img{

width:90px;
height:90px;
border-radius:50%;
object-fit:cover;

}


/* MENU BUTTON */

.menuBtn{

display:none;
background:none;
border:none;
color:white;
font-size:30px;
padding:0;
outline:none;

}


/* MENU */

.sidebarText{

list-style:none;
padding:0;

}


.sidebarText li{

margin-bottom:12px;

}


.sidebarText a{

display:block;
padding:10px;
color:white;
text-decoration:none;
border-radius:8px;

}


/* ONLY ACTIVE */

.active{

background:#0d6efd;
color:white;

}


/* hover remove */

.sidebarText a:hover{

background:transparent;
color:white;

}




/* MOBILE */

@media(max-width:950px){


@media(max-width:950px){

.sidebarContainer{
  width:100%;
  height:auto;   /* ❌ 70px hata diya */
  min-height:120px;  /* enough space */
  position:relative;
  padding-bottom:10px;
}

}

/* logo + button vertical */

.logoBox{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  gap:10px;   /* logo, icon, text ke beech space */
  margin:0;
}

/* mobile logo */

.logoBox img{
  width:45px;
  height:45px;
}



/* menu icon */

.menuBtn{
  display:block;
  margin-left:5px;
  margin-top:5px;   /* logo ke neeche spacing */
}


/* remove button active */

.menuBtn:focus,
.menuBtn:active{

background:none;
outline:none;
box-shadow:none;

}



/* hide menu */

.sidebarText{

display:none;

}



/* open */

.mobileOpen{

height:100vh;

}



.mobileOpen .sidebarText{

display:block;
margin-top:25px;

}


}